button,
select,
input[type=text],
input[type=submit],
input[type=checkbox]{
      -webkit-appearance: none;
    	-moz-appearance: none;
    		appearance: none;
     border-radius: 0;
     border: none;
}
select::-ms-expand{
    display: none;
}

a{
	text-decoration: none;
}
li{
	list-style: none;
}
h1, 
h2,
h3{
	font-weight: normal;
}

.main{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: -8rem;
	-webkit-box-flex: 1;
	    -ms-flex: 1 100%;
	        flex: 1 100%;
}
.page{
	padding: 11.5rem 3.8rem 10rem 2rem;
	background: #fbfbfb;
	max-width: 1000rem;
	width: 100%;
	&-container{
		-webkit-box-shadow: 0.2rem 0.4rem 1.3rem rgba(24, 24, 24, 0.07);
		        box-shadow: 0.2rem 0.4rem 1.3rem rgba(24, 24, 24, 0.07);
		background: #fff;
		padding: 1.5rem;
		margin-top: 3.5rem;
	}
	@media screen and (max-width: 768px){
	-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
	padding: 12.5rem 2rem 3.5rem;
		h1{
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			padding: 0 0 3rem 0;
		}
	}
	@media screen and (max-width: 380px){
		padding: 12.5rem 1.5rem 1.5rem;
	}
}

.button{
	-webkit-box-flex: 1;
	    -ms-flex: 1 100%;
	        flex: 1 100%;
	a{
		max-width: 18.4rem;
		width: 100%;
		height: 3.4rem;
		background: #84c441;
		font: 1.5rem $font2;
		color: #fff;
		display: block;
		line-height: 3.4rem;
		text-align: center;
		&:hover{
			letter-spacing: 1px;
			-webkit-box-shadow: 0px 5px 30px -10px rgba(0,0,0,0.57);
			-webkit-transition: all 0.4s ease 0s;
			-o-transition: all 0.4s ease 0s;
			transition: all 0.4s ease 0s;
		}
		@media screen and (max-width: 768px){
			margin: auto;
		}
	}
}